
# Enables or disables the music module.
MODULE_MUSIC_ENABLED=true

# Lavalink server connection details.
# Find the latest release at https://github.com/freyacodes/Lavalink/releases
LAVALINK_URL=localhost:2333
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_SECURE=false
